input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="radio"] {
    display: none;
}

input:checked+.radioButton {
    background-color: orange;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.radioButton {
    background-color: #777777;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.navBar {
    width: 100%;
    height: 50px;
    background-color: #555;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    position: absolute;
    left: 0;
}

.navBarItem {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

.navBarItem:hover {
    background-color: orange;
}

.loginSelector {
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    margin: 40px;
    font-weight: 600;
}

.loginInput {
    width: 250px;
    height: 40px;
    text-align: center;
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    margin: 40px;
    font-weight: 600;
    border: none;
    outline: none;
}

.wrapper {
    width: 600px;
    padding: 30px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 70px;
    text-align: center;
}

.barContainer {
    background-color: #555;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barContainer div {
    width: 80px;
}

.button {
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.addButton {
    background-color: orange;
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.PanelContainer {
    width: 300px;
    padding: 30px;
    background-color: #555555;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 150px;
}

.addInputWrapper div {
    display: flex;
}

.panalInputContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.panalInputContainer div {
    width: 100px;
    text-align: left;
}

.panalInput {
    outline: none;
    border: none;
    background: #777777;
    color: #ffffff;
    width: 100px;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.calculator {
    width: 450px;
    padding: 30px 60px;
    background-color: #555555;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 150px;
    margin-left: 75px;
}

.InputContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    flex: 1;
}

.InputContainer div {
    width: 150px;
    flex: 1;
}

.InputContainer input {
    outline: none;
    border: none;
    background: #777777;
    color: #FFFFFF;
    width: 100px;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
}

.InputContainer select {
    outline: none;
    border: none;
    background: #777777;
    color: #ffffff;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    flex: 1;
}

.popup {
    animation-name: popup;
    animation-duration: 0.1s;
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}